@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Dnn.PoolTableBookingDNN.Tuzoltok.PoolTableBooking.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@{
    //ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/HelloWorld/module-helloworld/Dnn.HelloWorld/Scripts/BSScript.js");


    var controller = new Dnn.PoolTableBookingDNN.Tuzoltok.PoolTableBooking.Controllers.RendelesController();
    var tableNames = controller.GetTableNames();
    var bookableTime = controller.GetBookableTime(Request["tableName"], Request["date"]);
    var vasarloCount = controller.GetVasarloCount();

    bool isTableAndDateAvailable = !string.IsNullOrEmpty(Request["date"]) && !string.IsNullOrEmpty(Request["tableName"]);
    string datePickerString = controller.GetDatePickerStringFormRequest(Request["date"]);
    string selectTableCommand = controller.GetSelectedTableCommand(Request["tableName"]);
}

<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickable Rectangles</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        .rectangle {
            width: 50px;
            height: 30px;
            background-color: lightblue;
            margin: 10px;
            display: inline-block;
            cursor: pointer;
            position: relative;
            text-align: center;
            line-height: 30px;
        }

        .bookedRectangle {
            width: 50px;
            height: 30px;
            background-color: red;
            margin: 10px;
            display: inline-block;
            cursor: pointer;
            position: relative;
            text-align: center;
            line-height: 30px;
        }

        .margined-label {
            margin-bottom: 20px;
        }

        .clicked {
            background-color: lightgreen;
        }

        .container {
            width: 40%;
            margin: auto;
            text-align: center;
        }

        .date-picker {
            width: 30%;
            z-index: 110;
        }

        #datepicker {
            margin-bottom: 200px;
        }

        .selected-info {
            width: 30%;
            margin-top: 20px;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"], input[type="tel"], input[type="email"] {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }


            input[type="submit"]:hover {
                background-color: #45a049;
            }
    </style>
    <script>

        function changeColor(element, type) {
            // Töröljük az összes téglalapból a clicked osztályt az adott sorban
            var rectangles = element.parentElement.querySelectorAll('.rectangle');
            rectangles.forEach(rect => {
                rect.classList.remove('clicked');
            });
            // Jelöljük ki csak az aktuális téglalapot
            element.classList.toggle('clicked');

            // Ellenőrizzük, hogy mindkét sorra kattintottunk-e
            var palyaRectangles = document.querySelectorAll('.palya .rectangle.clicked');
            var idoRectangles = document.querySelectorAll('.ido .rectangle.clicked');

            if (palyaRectangles.length > 0 && idoRectangles.length > 0) {
                document.getElementById("bookingTime").value = idoRectangles[0].textContent;
                document.getElementById("tableName").value = palyaRectangles[0].textContent;
            } else if (type === "table") {
                document.getElementById("tableName").value = element.textContent;
            } else if (type === "time") {
                document.getElementById("bookingTime").value = element.textContent;
            }
        }
        function getRequest() {
            var date = document.getElementById('date').value;
            var tableName = document.getElementById('tableName').value;
            var urlString = "@Url.Action("Index")?".concat("date=", date,"&","tableName=", tableName);
            window.location.replace(urlString);
        }



    </script>
</head>
<body>

    <div class="container">
        <form class="date-picker">
            <label for="datepicker">Válasszon dátumot:</label>
            <input type="text" id="datepicker" value="@datePickerString">

            <script>
                $(function () {
                    $("#datepicker").datepicker({
                        onSelect: function (date) {
                            var parts = date.split("/");
                            var formattedDate = parts[2] + "." + parts[0] + "." + parts[1];
                            document.getElementById("date").value = formattedDate;
                        }

                    });
                });
            </script>
        </form>
        <label class="margined-label">Válasszon pályát!</label>
        <div>

            <div class="palya">

                @foreach (var tableName in tableNames)
                {
                    <div id="table@(tableName)" class="rectangle @(tableName == Request["tableName"]?"clicked":"")" onclick="changeColor(this, 'table')">@(tableName)</div>
                }
            </div>
        </div>
        <button onclick="getRequest()" type="button">Mutasd a szabad időpontokat!</button>
            <label class="margined-label">Válasszon időpontot!</label>
            <div>

                <div class="ido">
                    @foreach (var time in bookableTime)
                    {
                        <div class="@(time.Class)" onclick="@(time.OnClick)">@(time.Time)</div>
                    }
                </div>
            </div>
        </div>

        <!-- Űrlap a kért adatok bekérésére -->
        <form id="user-form" class="container" method="post" action="@Url.Action("AddBooking", "Rendeles")">
            <label for="firstname">Keresztnév:</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="lastname">Vezetéknév:</label>
            <input type="text" id="lastname" name="lastname" required>

            <label for="phone">Telefonszám:</label>
            <input type="tel" id="phone" name="phone" pattern="\+*[0-9]*" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <input type="submit" value="Küldés">
            <input type="hidden" id="tableName" name="tableName" value="@(Request["tableName"])">
            <input type="hidden" id="bookingTime" name="bookingTime" value="">
            <input type="hidden" id="date" name="date" value="@(Request["date"])">
        </form>
    

        <p>@(vasarloCount)</p>


    </body>
</html>

